/* --- Dropdown Menu */
.dropdown-menu {
  position: absolute;
  background: var(--white, #fff);
  padding: 10px;
  border: 1px solid var(--color-neutral-950, #1b1b1b);
  border-radius: 4pdropdownx;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  top: calc(var(--trigger-y) + var(--trigger-height));
  left: var(--trigger-x);
}

.dropdown-menu ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.dropdown-menu::backdrop {
  background: transparent;
}

.dropdown-menu li {
  padding: 10px;
  border-bottom: 1px solid var(--color-neutral-950, #1b1b1b);
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li a {
  text-decoration: none;
  font-family: var(--font-courier);
  color: var(--color-neutral-950, #1b1b1b);
}

/* --- Modal --- */
.dialog {
    padding: 0;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }
  
  .dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .dialog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .dialog__header h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
  }
  
  .dialog__close {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
  }
  
  .dialog__header h2 {
    font-family: var(--font-poppins);
  }
  
  .dialog__footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 24px;
  }
  
  
  @media (max-width: 768px) {
    .dialog {
      height: 100dvh;
    }
  }
  
  